<div class="container my-5 flex-grow-1">

  <div class="row mb-5 align-items-center bg-light p-4 border rounded shadow-sm">
    <div class="col-12 col-md-8 text-center text-md-start">
      <h1 class="display-6 fw-bold text-dark m-0">Panel de Control: Productos</h1>
      <p class="lead text-muted m-0">Gestión de inventario, altas y modificaciones.</p>
    </div>
    <div class="col-12 col-md-4 text-center text-md-end mt-3 mt-md-0">
      <a routerLink="/productos/create-producto" class="btn btn-agregar btn-lg rounded-3 px-4 shadow-sm">
        + Nuevo Producto
      </a>
    </div>
  </div>

  <div class="row g-4">

  @for (prod of productos(); track prod.id) {
    <div class="col-12 col-md-6 col-lg-3 mb-4">

      <app-producto-card
        [producto]="prod"
        (onEliminar)="abrirModalEliminar($event)">
      </app-producto-card>

    </div>
  } @empty {
    <div class="col-12 text-center my-5">
      <div class="sin-productos">
        <h4>No hay artículos registrados en el sistema</h4>
        <p class="mb-0">Hacé clic en el botón de arriba para dar de alta el primer producto.</p>
      </div>
    </div>
  }

</div>

    <div class="modal fade" id="modalEliminarProducto" tabindex="-1" aria-labelledby="modalEliminarLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-3 border-0 shadow">
          <div class="modal-header bg-danger text-white">
            <h5 class="modal-title fw-bold" id="modalEliminarLabel">Eliminar Artículo</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-4 text-center">
            <p class="fs-5 mb-1 text-dark fw-semibold">¿Estás seguro?</p>
            <p class="text-muted small mb-0">Esta acción no se puede deshacer y quitará el stock permanentemente del
              sistema.</p>
          </div>
          <div class="modal-footer bg-light border-top justify-content-end gap-2">
            <button type="button" class="btn btn-outline-secondary px-4 py-2 rounded-3 fw-semibold"
              data-bs-dismiss="modal">
              Cancelar
            </button>
            <button (click)="confirmarEliminar()" type="button"
              class="btn btn-danger px-4 py-2 rounded-3 fw-bold shadow-sm" data-bs-dismiss="modal">
              Sí, Borrar Artículo
            </button>
          </div>
        </div>
      </div>
    </div>
